 /* .App {
  text-align: center;
  background-image: 'https://i.imgur.com/jQkeT0p.png';
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


html body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-image: url('https://i.imgur.com/jQkeT0p.png');  */
  background-image: url('./images/p5162592.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.container-fluid {
  padding: 0;
}
.goh_navbar {
  background-color: #00000012;
  height: 90px;
  margin-bottom: 35px;
  margin-top: 20px;
  padding: 15px 0;
  text-align: center;
  font-family: 'Black Han Sans'
}

.goh_text {
  color: #d4d4d4;
  font-size: 60px; 
  line-height: 1;
  letter-spacing: 15px;
}

.goh_text:hover {
  color: #1F4678;
  text-decoration: none;
  font-size: 70px;
}

.home_container {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 15em 15em 15em;
  box-sizing: border-box;
  height: 560px;
  width: 100%;
  row-gap: 30px;
  column-gap: 120px;
  padding: 0 120px;

}

.home_container > div {
  /* background-color: #00000012; */
  background-image: url('./images/paper.png');
  padding: 5px;
  box-shadow: 4px 2px 9px 3px #0c0d0a8f;
}

.goh_inner {
  height: 80%;
  background-color: #000;
  margin: 10px;
  margin-bottom: 0;
}

.goh_inner_text {
  font-family: 'Shadows Into Light';
  font-size: 25px;
  color: #000;
  font-style: oblique;
  cursor: pointer;
}
/* 0c0d0a8f */
.goh_contact {
  width: 50%;
  display: grid;
  justify-content: center;
  margin: auto; 
}

.list_container {
  margin: auto;
  display: flex;
  background-color: #b5b7acad;
  justify-content: center;
  width: auto;
  /* font-family: 'Shadows Into Light'; */
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.mail {
  position: fixed;
  bottom: 17px;
  width: 265px;
  height: 90px;
  background-color: #d1cab694;
  left: 10px;
  border-radius: 13px;
  text-align: center;
}

.mail-text {
  position: relative;
  top: 7px;
  color: #f2f2f2;
  cursor: default;
}

/* overrides default input styling */
.mail_email {
  width: 80% !important;
  display: initial !important;
  margin-top: 5px;
  background-color: #ececec !important;
}