 /* .App {
  text-align: center;
  background-image: 'https://i.imgur.com/jQkeT0p.png';
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('https://i.imgur.com/jQkeT0p.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.goh_navbar {
  background-color: #0b192b8f;
  height: 60px;
  margin-bottom: 35px;
  text-align: center;
  font-weight: bold;
  font-family: 'Allerta Stencil'
}

@font-face {
  font-family: 'Allerta Stencil'
}