 /* .App {
  text-align: center;
  background-image: 'https://i.imgur.com/jQkeT0p.png';
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-image: url('https://i.imgur.com/jQkeT0p.png');  */
  background-image: url('./images/p5162592.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.container-fluid {
  padding: 0;
}
.goh_navbar {
  background-color: #0b192b8f;
  height: 90px;
  margin-bottom: 35px;
  margin-top: 40px;
  padding: 15px 0;
  text-align: center;
  font-family: 'Allerta Stencil'
}

.goh_text {
  color: #d4d4d4;
  font-size: 60px; 
  line-height: 1;
  letter-spacing: 15px;
}

.goh_text:hover {
  color: #1F4678;
  text-decoration: none;
  font-size: 70px;
}

.example {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: 5em;
  -moz-column-gap: 5em;
  column-gap: 5em;
  max-width: 450px;
  margin: 3em auto 0;
}

.home_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 5px; */
  box-sizing: border-box;
  height: 500px;
  width: 100%;
  /* background-color: #8cffa0; */
  /* padding: 10px; */
  row-gap: 30px;
  column-gap: 120px;
  padding: 0 120px;

}

.home_container > div {
  /* background-color: #00000012; */
  background-color: #000000;
  padding: 5px;
}